@import "buildingfirefoxos.less";
@import "buildingblocks.less";

.gaiabuilder {


  .application-design {
    margin-left: 330px;
  }
  .phone-frame {
    background: url("../../img/phone_frame.png") 0 -20px no-repeat;
    height: 700px;
    left: 0;
    position: relative;
    width: 400px;
  }

  .temp-dragged {
    border: 1px solid blue;
  }

  .app-content {
    position: relative;
    height: 480px;
    width: 320px;
    left: 36px;
    top: 43px;

    > label {
      display: none;
    }
  }

}


