@import "buildingfirefoxos.less";

@header-height: 130px;
@toolbox-width: 200px;

.gaiabuilder {

  .widget-toolbox {
    position: absolute;
    top: @header-height;
    bottom: 0px;
    left: 30px;
    width: @toolbox-width;
  }

  .application-design {
    position: absolute;
    top: @header-height;
    bottom: 0px;
    left: @toolbox-width + 60px;
    right: 0px;
  }
  .phone-frame {
    background: url("../../img/phone_frame.png") 0 -20px no-repeat;
    height: 700px;
    left: 0;
    position: relative;
    width: 400px;
  }

  .temp-dragged {
    border: 1px solid blue;
  }

  .app-content {
    position: relative;
    height: 480px;
    width: 320px;
    left: 36px;
    top: 43px;
  }

}


